.registration-page {
  justify-content: center;
}

.registration-page footer {
  display: flex;
  align-items: center;
}

.registration-page footer a {
  flex: 1;
  text-align: right;
}


@media (max-width: 400px) {
  .registration-page footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .registration-page footer *{
    margin: 8px 0;
  }
}