.dashboard-page h2 {
  margin: 0;
}

.words {
  margin-top: 40px;
}

.words li {
  display:flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid var(--grey);
}

.words li:hover {
  background: var(--grey);
}

.words li h4 {
  flex: 3;
  font-weight: 300;
  text-transform: uppercase;
}

.words li .count {
  flex: 2;
  text-align: right;
}

@media (max-width: 400px) {
  .words li {
    flex-direction: column;
    padding-bottom: 15px; 
    text-align: center;
  }
  .words li h4 {
    flex: 1;
  }

  .words li .count {
    flex: 1;
    text-align: center;
  }
}