.login-page {
  justify-content: center;
  margin: 30px 15px;
}

.login-page .form-group:nth-child(4) {
  margin-top: 30px;
}

@media (max-width: 400px) {
  .login-page {
    margin: 0;
    min-width: 320px;
  }
}